{% extends 'base.html' %}

{% block title %}Relação de produtos{% endblock %}

{% block body %}
  <h2>Lista de produtos</h2>
  {% for produto in produtos %}
  <ul>
    <li>
      <a href="{% url 'atualizar_produto' produto.id %}"><!--{{produto.codigo}} - -->{{produto.descricao}}</a>
      <button >
      <a href="{% url 'excluir_produto' produto.id %}">Excluir</a>  
      </button>
    </li>
    
  </ul>
  {% endfor %}

  <button><a href="{% url 'novo_produto' %}">Novo produto</a></button>  
{% endblock %}