{% extends 'base.html' %}

{% block title %}Relação de produtos{% endblock %}

{% block content %}
  <h2>Lista de produtos</h2>
  
  <ul>
    {% for produto in produtos %}
    <li>
      <div class="row">
        <div class="col col-lg-4 produto">
          <a href="{% url 'atualizar_produto' produto.id %}">{{produto.codigo}} - {{produto.descricao}}</a>
        </div>
        <div class="col"> 
          <button class="btn btn-danger">
            <a href="{% url 'excluir_produto' produto.id %}">Excluir</a>  
          </button>
        </div>
      </div>
    </li> 
    {% endfor %}    
  </ul>  
  <div class="row">
    <div class="col"></div>
    <button class="btn btn-primary">
      <a href="{% url 'novo_produto' %}">
        Novo produto
      </a>
    </button> 
  </div>   
{% endblock %}